:root {
	--color-primary-1: hsl(6, 100%, 80%);
	--color-primary-2: hsl(335, 100%, 65%);

	--color-neutral-1: hsl(243, 100%, 93%);
	--color-neutral-2: hsl(229, 7%, 55%);
	--color-neutral-3: hsl(228, 56%, 26%);
	--color-neutral-4: hsl(229, 57%, 11%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Raleway", sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;

	background-color: var(--color-neutral-4);
	background-image: url(../images/bg-desktop.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}

main {
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	border: 1px solid pink;
}

.box-actions {
}

.box-storage {
}
