:root {
	--color-primary-1: hsl(6, 100%, 80%);
	--color-primary-2: hsl(335, 100%, 65%);

	--color-neutral-1: hsl(243, 100%, 93%);
	--color-neutral-2: hsl(229, 7%, 55%);
	--color-neutral-3: hsl(228, 56%, 26%);
	--color-neutral-4: hsl(229, 57%, 11%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Raleway", sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	line-height: 1;

	background-color: var(--color-neutral-4);
	background-image: url(../images/bg-desktop.png);
	background-position-y: 110%;
	background-repeat: no-repeat;
	background-size: 100%;
}

main {
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	gap: 2.4rem;
}

.box-actions {
	background-color: var(--color-neutral-3);
	padding: 3.2rem;
	border-radius: 1rem;
	border-top-right-radius: 10rem;
	padding-right: 12.6rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

	> img {
		margin-bottom: 2.4rem;
	}
}

.wrapper {
	display: flex;
	gap: 1.6rem;
}

.icon-box {
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 1rem;
	background-color: var(--color-neutral-4);

	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease;

	&:hover {
		background-color: var(--color-neutral-1);
	}

	img {
		transition: all 0.2s ease;
	}

	&:hover img {
		transform: scale(1);
	}
}

// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

.box-storage {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	background-color: var(--color-neutral-3);
	padding: 3.2rem;
	border-radius: 1rem;
	color: var(--color-neutral-1);
	width: 50rem;
	height: fit-content;
	align-self: flex-end;
	position: relative;

	> p {
		margin-bottom: 1.2rem;
	}

	span {
		font-weight: 700;
	}
}

///////////////////
/// INPUT RANGE ///
///////////////////
.range {
	width: 100%;
	margin-bottom: 0.6rem;
}

.scale {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
}

///////////////////////////
/// WINDOW WITH GB LEFT ///
///////////////////////////
.storage-left {
	position: absolute;
	right: 3.2rem;
	top: -5rem;
	padding: 1.4rem;
	border-radius: 1rem;
	border-bottom-right-radius: 0;
	background-color: #fff;
	font-weight: 700;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: var(--color-neutral-2);
	z-index: 111;

	display: flex;
	align-items: center;
	gap: 1rem;

	> span {
		font-size: 4.4rem;
		color: var(--color-neutral-4);
	}

	&::after {
		z-index: -1;
		content: "";
		position: absolute;
		bottom: -2.4rem;
		right: 0;
		height: 6.4rem;
		width: 6.4rem;
		background-color: #fff;
		clip-path: polygon(100% 0, 0 0, 100% 100%);
	}
}
